    /* Variables */
    
     :root {
        --white: #FFFFFF;
        --black: #000000;
        --light-dark: #283136;
        --red: #FB565A;
        --red2: #00CA74;
        --red3: #D7373B;
        --light-backgroud: #EEEEEE;
        --green: #00CA74;
        --green2: #00BC6C;
        --green3: #00AA62;
        --orange: #EFC84A;
        --orange2: #EAB534;
        --orange3: #E5A722;
    }
    /* Global */
    
    body {
        margin: 0;
        font-family: "Roboto", "Arial", sans-serif;
        font-style: normal;
        color: var(--black);
        font-weight: normal;
        background-color: var(--white);
    }
    
    img {
        max-width: 100%
    }
    
    a {
        text-decoration: none
    }
    
    .visually-hidden {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
        display: none;
    }
    
    .uppercase {
        text-transform: uppercase;
    }
    
    .slogan {
        font-weight: 500;
        font-size: 55px;
        line-height: 55px;
    }
    
    .slogan-descripton {
        font-weight: 100;
        font-size: 16px;
        line-height: 24px;
        color: var(--light-dark);
    }
    
    .topmenu {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    }
    
    .cart {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        text-align: right;
    }
    
    .button {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: var(--white);
    }
    
    .details,
    .products {
        background-color: var(--red);
    }
    
    .details a:hover,
    .products:hover a {
        background-color: var(--red2);
    }
    
    .details a:focus,
    .products a:focus {
        background-color: var(--red3);
    }
    
    .apps {
        background-color: var(--green);
    }
    
    .apps a:hover {
        background-color: var(--green2);
    }
    
    .apps a:focus {
        background-color: var(--green3);
    }
    
    .prezi {
        background-color: var(--orange);
    }
    
    .prezi a:hover {
        background-color: var(--orange2);
    }
    
    .prezi a:focus {
        background-color: var(--orange3);
    }
    
    .servicedescription {
        font-weight: 100;
        font-size: 16px;
        line-height: 24px;
        color: var(--light-dark);
    }
    
    .slogan2 {
        font-weight: 500;
        font-size: 45px;
        line-height: 45px;
    }
    
    .slogan2details {
        font-size: 16px;
        line-height: 24px;
        color: var(--light-dark);
    }
    
    .company-date {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    
    .company-relusts {
        font-weight: 700;
        font-size: 45px;
        line-height: 64px;
    }
    
    .percent-symbol {
        font-weight: 700;
        font-size: 26px;
        line-height: 40px;
    }
    
    .company-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }
    
    .discount {
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
    }
    /*CATALOG PAGE*/
    
    .filter-header {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }
    
    .sort-by-filter {
        font-size: 14px;
        line-height: 18px;
    }
    
    .item-header {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }
    
    .page-swither {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }
    
    .contactus {
        display: none;
    }
    
    .slider,
    .navigation {
        background-color: var(--light-backgroud);
    }
    /* style gide*/
    
    .topmenu a:hover,
    .cart a:hover {
        color: var(--red);
    }