/* Variables */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --black2: #444444;
    --grey: #E1E1E1;
    --grey2: #A6A6A6;
    --grey3: #C1C1C1;
    --grey4: #F2F2F2;
    --grey5: #D7DCDF;
    --grey6: #ABABAB;
    --grey7: #D5D5D5;
    --light-dark: #283136;
    --dark-grey: #666666;
    --light-grey: #DFDFDF;
    --red: #FB565A;
    --red2: #E74246;
    --red3: #D7373B;
    --light-backgroud: #EEEEEE;
    --green: #00CA74;
    --green2: #00BC6C;
    --green3: #00AA62;
    --orange: #EFC84A;
    --orange2: #EAB534;
    --orange3: #E5A722;
}


/* Global */

body {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    color: var(--black);
    font-weight: normal;
    background-color: var(--white);
    height: auto;
    background-position: top center;
    background-repeat: no-repeat;
}

img {
    max-width: 100%
}

a {
    text-decoration: none
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.slogan {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin: 0px;
    padding-top: 78px;
}

.slogan-descripton {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-dark);
    margin: 0px;
    padding-top: 28px;
}

.topmenu {}

.topmenu a {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--black);
}

.cart {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    color: var(--black);
}

.slider-nav {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    bottom: 92px;
}

.slider-nav li {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 6px;
    padding: 0;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 50%;
}

.slider-nav .active:before {
    content: '';
    display: block;
    border-radius: 50%;
    border: 2px solid var(--grey3);
    background-color: var(--wite);
    width: 5px;
    height: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.slider {
    position: relative;
}

.logo {
    /* outline: 5px solid black;*/
    width: 160px;
    height: 65px;
    margin-top: 49px;
}

.logo:focus svg path {
    fill: var(--grey2);
}

.catalog-item svg {
    opacity: 0.12;
    display: block;
}

.catalog-item img {
    display: block;
}

.catalog-item:hover svg {
    opacity: 1;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--white);
}

.products,
.apps,
.slides {
    width: 300px;
    height: 146px
}

.products {
    background-image: url("../img/illustration-11.png");
    background-repeat: no-repeat;
    background-color: var(--red);
}

.apps {
    background-image: url("../img/illustration-21.png");
    background-repeat: no-repeat;
    background-color: var(--green);
}

.slides {
    background-image: url("../img/illustration-31.png");
    background-repeat: no-repeat;
    background-color: var(--orange);
}

.products a,
.details a {
    background-color: var(--red);
}

.details a:hover,
.products a:hover {
    background-color: var(--red2);
}

.details a:focus,
.products a:focus {
    background-color: var(--red3);
}

.apps a {
    background-color: var(--green);
}

.apps a:hover {
    background-color: var(--green2);
}

.apps a:focus {
    background-color: var(--green3);
}

.slides a:hover {
    background-color: var(--orange2);
}

.slides a:focus {
    background-color: var(--orange3);
}


/*ПАРТЕНРЫ.ЛОГОТИПЫ*/

.partners a {
    opacity: 0.2;
}

.partners a:hover {
    opacity: 1;
}

.partners a:focus {
    opacity: 0.1;
}

.service-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-dark);
    padding-top: 18px;
    margin: 0px;
    margin-bottom: 48px;
}

.slogan2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.slogan2-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--light-dark);
    padding-top: 3px;
    margin: 0;
}

.company-date {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    padding-top: 35px;
}

.company-relusts {
    font-weight: 700;
    font-size: 45px;
}

.company-relusts span {
    display: inline-block;
}

.percent-symbol {
    font-weight: 700;
    font-size: 26px;
}

.company-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.discount {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    padding-left: 119px;
    margin-bottom: 0px;
}

.discount-details {
    color: var(--black2);
    padding-left: 121px;
    padding-top: 10px;
    margin-top: 0px;
}


/* форма обратной связи*/

.main-adress {
    position: relative;
}

.send-form {
    width: 960px;
    position: absolute;
    background-color: red;
    height: 590px;
    left: 101px;
    padding: 0px;
    bottom: -454px;
}

.send-form-header {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding-top: 61px;
    padding-left: 82px;
    margin: 0px;
}

.send-form-email,
.send-form-name {
    display: inline-block;
}

.send-form-email {
    padding-left: 37px;
}

.send-form-name {
    margin: 0px;
    padding-left: 84px;
    padding-top: 30px;
}

.send-form-name label,
.send-form-email label {
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
}

.send-form-name p,
.send-form-email p {
    margin: 0px;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
}

.send-form-name input,
.send-form-email input {
    width: 360px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #D7DCDE;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 10px;
    padding-left: 17px;
    color: #444444;
}

.slider,
.navigation {
    background-color: var(--light-backgroud);
}

.topmenu a:hover,
.cart:hover {
    color: var(--red);
}


/* Футер */

.social-button {
    background-color: var(--grey);
    border-radius: 50%;
    width: 81px;
    height: 81px;
    display: block;
    display: flex;
    align-items: center;
}

.social-button:hover {
    background-color: var(--red2)
}

.social-button:focus {
    background-color: var(--red3)
}


/*Каталог*/

.price {
    background-color: var(--red);
    color: var(--white);
    padding: 15px 71px 16px 73px;
    border-radius: 3px;
    margin-left: 79px;
    margin-top: -19px;
}

.price:hover {
    background-color: var(--red2);
}

.price:focus {
    background-color: var(--red3);
}

.catalog-desc {
    background-color: var(--light-backgroud);
    width: 360px;
    height: 231px;
    display: block;
    position: absolute;
    bottom: -1px;
    border-radius: 0px 0px 5px 5px;
}

.catalog-desc h3:hover {
    color: var(--red);
}

.catalog-desc h3:focus {
    opacity: 0.3;
}

.catalog-desc h3 {
    padding-top: 12px;
    text-transform: uppercase;
    text-align: center;
}

.catalog-desc p {
    text-align: center;
    margin-left: -5px;
    padding-bottom: 31px;
    margin-top: -4px;
}

.catalog-heading {
    font-weight: 500;
    font-size: 55px;
    padding-top: 34px;
    padding-left: 207px;
    padding-bottom: 104px;
}

.item-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}


/* Пагинация*/

.pagination-list {
    padding-top: 52px;
    padding-left: 0px;
    padding-bottom: 61px;
    display: grid;
    grid-template-columns: 50px 50px 50px 260px;
    gap: 0px 10px;
}

.pagination-list li {
    border-radius: 3px;
    display: inline;
}

.pagination-list a {
    background-color: var(--light-backgroud);
    color: var(--black);
    padding: 13px 20px 15px 20px;
}

.pagination-list .nextpage {
    padding: 13px 79px 15px 73px;
}

.pagination-list a:hover {
    background-color: var(--light-grey);
}

.pagination-list a:focus {
    background-color: var(--light-grey);
    opacity: 0.3;
}

.pagination-item {
    border-radius: 3px;
}

.pagination-item.active {
    background: rgba(0, 0, 0, 0.0001);
    border: 3px solid #DBDBDB;
}

.page-swither {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}


/* Пагинация*/


/* Сортировка*/

.filter-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-top: 17px;
}

.sort h2 {
    display: inline-block;
}

.sort {}

.sortby {
    display: inline-block;
    padding-left: 263px;
}

.sortby li {
    list-style: none;
    display: inline;
    padding-right: 22px;
}

.sortbypde-desc-asc {
    display: inline-block;
    padding-left: 9px;
}

.sortbypde-desc-asc li {
    display: inline-block;
    list-style: none;
    padding-left: 12px;
}

.sort a {
    font-size: 14px;
    line-height: 18px;
}

.by-price,
.by-type,
.by-name {
    opacity: 0.3;
    color: var(--black);
}

.by-price:hover,
.by-type:hover,
.by-name:hover {
    opacity: 0.6;
}

.by-price:active,
.by-type:active,
.by-name:active .by-price:focus,
.by-type:focus,
.by-name:focus {
    opacity: 1;
}

.active {
    opacity: 1;
}

.sort-asc,
.sort-desc {
    color: var(--black);
    opacity: 0.6;
}

.sort-asc:hover,
.sort-desc:hover {
    color: var(--black);
    opacity: 0.3;
}

.sort-asc:focus,
.sort-desc:focus {
    color: var(--black);
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header-bg {
    background-color: var(--light-backgroud);
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.site-navigation li {
    display: inline-block;
    padding: 0 44px 0 0;
}

.site-navigation li:last-child {
    padding: 0;
}

.site-navigation {
    padding: 0;
    margin-top: 76px;
    margin-bottom: 0px;
}

.cart-navigation {
    margin-top: 76px;
    margin-left: 38px;
}

.cart-navigation svg {
    padding-right: 21px;
}

.slider ul {
    margin: 0px;
    padding-left: 0px;
    list-style: none;
}

.details {
    display: flex;
}

.details .button {
    margin: 38px 0px;
    display: inline-block;
    padding: 16px 54px 17px 56px;
    border-radius: 3px;
}

.services-company {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.services-company article {
    width: 300px;
    padding-right: 100px;
}

.service-name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
    padding-top: 25px;
}

.services-company .button {
    padding: 17px 40px 15px 40px;
    border-radius: 3px;
}

.products-art a {
    background-color: var(--red);
}

.products-art a:hover {
    background-color: var(--red2);
}

.products-art a:focus {
    background-color: var(--red3);
}

.products-art2 a {
    background-color: var(--green);
}

.products-art2 a:hover {
    background-color: var(--green2);
}

.products-art2 a:focus {
    background-color: var(--green3);
}

.products-art3 a {
    background-color: var(--orange);
}

.products-art3 a:hover {
    background-color: var(--orange2);
}

.products-art3 a:focus {
    background-color: var(--orange3);
}

.company-info-main {
    display: flex;
    padding-top: 26px;
    justify-content: space-between;
}

.company-info {
    width: 660px;
}

.company-info h3 {
    font-size: 16px;
    line-height: 24px;
    color: var(--light-dark);
    margin: 0;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.company-info ul {
    margin: 0;
    padding-top: 15px;
    padding-left: 0px;
}

.company-info li {
    margin: 0;
    padding-bottom: 28px;
    font-weight: 400;
    padding-left: 4px;
    list-style: none;
}

.company-info li:before {
    display: inline-block;
    content: "";
    background: var(--red);
    width: 25px;
    height: 2px;
    vertical-align: 2px;
    margin-right: 10px;
    margin-left: -2px;
    margin-top: 0px;
}

.company-info2 {
    width: 360px;
}

.company-relusts-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-top: 18px;
}

.devider {
    border-color: var(--light-backgroud);
    background-color: var(--light-backgroud);
    border: solid 1px var(--light-backgroud);
    margin-top: 95px;
}

.devider2 {
    border-color: var(--light-backgroud);
    background-color: var(--light-backgroud);
    border: solid 1px var(--light-backgroud);
    margin-top: 22px;
}

.devider3 {
    border-color: var(--light-backgroud);
    background-color: var(--light-backgroud);
    border: solid 1px var(--light-backgroud);
    margin-top: 42px;
    margin-bottom: 80px
}

.company-info2 table {
    padding-top: 26px;
}


/* Блок партнеры */

.partners ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.partners li {
    display: inline-block;
    position: relative;
}

.partners a {
    justify-content: center;
    align-items: center;
    height: 80px;
}

li.first-partner {
    padding-left: 33px;
}

li.first-partner::after,
li.second-partner::after,
li.third-partner::after {
    position: absolute;
    display: inline-block;
    content: "";
    background: var(--light-backgroud);
    width: 2px;
    height: 52px;
}

li.first-partner::after {
    top: 10px;
    right: -50px;
}

li.second-partner::after {
    top: 19px;
    right: -52px;
}

li.third-partner::after {
    top: 0px;
    right: -59px;
}

li.second-partner {
    padding-left: 90px;
}

li.third-partner {
    padding-left: 108px;
}

li.fourth-partner {
    padding-left: 122px;
}


/* Блок партнеры */


/* Ссылки на социальные сети*/

.social-links {
    margin: 0;
    display: flex;
    padding-top: 50px;
}

.social-links ul {
    padding-left: 0;
}

.social-links li {
    display: inline-block;
    align-items: center;
    padding-right: 5px;
    vertical-align: middle
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-main {
    display: flex;
    justify-content: space-between;
}

.footer-social {
    padding-bottom: 68px;
}


/* Ссылки на социальные сети*/

.discount-main {
    width: 880px;
    padding-top: 37px;
}

.company-adress {
    color: var(--dark-grey);
}

.company-adr {
    width: 319px;
    height: 308px;
    position: absolute;
    top: 54px;
    padding: 32px 50px 50px 50px;
    box-sizing: border-box;
    background: white;
}

.company-adr a {
    margin: 40px 0px;
    display: inline-block;
    padding: 17px 44px 15px 44px;
    background-color: var(--red);
    margin-top: 20px;
    border-radius: 3px;
}

.company-adr a:hover {
    background-color: var(--red2);
}

.company-adr a:focus {
    background-color: var(--red3);
}

.adr img {
    margin: 0 auto;
    width: 1440px;
    display: block;
}

div.main-results {
    display: flex;
    margin-top: -10px;
}


/* CATALOG CSS*/

.wrapper {
    display: grid;
    grid-template-columns: 260px 760px;
    grid-gap: 140px;
}

.filters {}

.items {}

.catalog-list {
    padding-left: 0;
    padding-top: 0;
    margin-top: 34px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 38px;
}

.catalog-list li {
    list-style: none;
    position: relative;
    background: var(--grey4);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
}

.catalog-item .catalog-desc {
    display: none;
}

.catalog-item:hover .catalog-desc {
    display: block;
}

.catalog-item:hover {
    display: block;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/*    outline: 5px solid black;*/


/* ФИЛЬТР - СУММА */

.filter {
    border-width: 0px;
    margin-left: -15px;
    padding: 0px;
}

.filters {
    margin-left: 15px;
}

.price-range {
    width: 260px;
    height: 80px;
    background: var(--light-backgroud);
    border-radius: 3px;
    margin-top: 31px;
    position: relative;
}

.min-max-price {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-top: 14px;
}

.min-max-price [name="minprice"],
.min-max-price [name="maxprice"] {
    width: 80px;
    height: 38px;
    background: var(--light-backgroud);
    border-radius: 3px;
    border-width: 0;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--light-dark);
}

.value1 {
    width: 135px;
    height: 2px;
    background: var(--green);
    position: absolute;
    left: 36px;
    bottom: 38px;
}

.value2 {
    width: 65px;
    height: 2px;
    background: var(--grey5);
    position: absolute;
    left: 170px;
    bottom: 38px;
}

.ranger1 {
    position: absolute;
    box-sizing: border-box;
    display: block;
    background: var(--grey6);
    border: solid 8px var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    bottom: 30px;
    left: 160px;
}

.ranger2 {
    position: absolute;
    box-sizing: border-box;
    display: block;
    background: var(--grey6);
    border: solid 8px var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    bottom: 29px;
    left: 20px;
}

.web-type {
    margin-top: 17px;
}


/* ФИЛЬТР - СУММА */


/* ФИЛЬТР - СЕТКА */

.web-type [type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.web-type label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 38px;
    cursor: pointer;
}

.web-type label::before,
.web-type label::after {
    position: absolute;
    top: -3px;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
}

.web-type label::before {
    content: "";
    background-image: url(../img/svg/radio-off.svg);
}

.web-type input[type="radio"]+label::after {
    content: "";
    color: #2c3e50;
    line-height: 1.5;
    text-align: center;
}

.web-type input[type="radio"]:checked+label::before {
    background-image: url(../img/svg/radio-on.svg);
}

.web-type p {
    padding-bottom: 4px;
    padding-top: 0px;
    font-size: 16px;
    font-weight: normal;
    color: var(--light-dark);
}

.web-type legend {
    margin-bottom: -20px;
}


/* ФИЛЬТР - СЕТКА */


/* ФИЛЬТР - ОСОБЕННОСТИ */

.web-features [type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.web-features label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 38px;
    cursor: pointer;
}

.web-features label::before,
.web-features label::after {
    position: absolute;
    top: -3px;
    left: 0;
    display: block;
    width: 23px;
    height: 23px;
}

.web-features label::before {
    content: "";
    background-image: url(../img/svg/checkbox-off.svg);
}

.web-features input[type="checkbox"]+label::after {
    content: "";
    color: #2c3e50;
    line-height: 1.5;
    text-align: center;
}

.web-features input[type="checkbox"]:checked+label::before {
    background-image: url(../img/svg/checkbox-on.svg);
    width: 25px;
}

.web-features label:hover::before {
    opacity: 0.4;
}

.web-features-header {
    line-height: 30px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.web-features p {
    padding-bottom: 5px;
}


/* ФИЛЬТР - ОСОБЕННОСТИ */

.show {
    width: 260px;
    height: 50px;
    background: var(--light-backgroud);
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--black);
    margin-left: -13px;
    margin-top: 30px;
    border-width: 0px;
}

.show:hover {
    background: var(--light-grey);
}

.show:focus {
    background: var(--grey7);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}